= form_with model: @admin do |f|
  = f.label :first_name
  = f.text_field :first_name
  
  %br/
  = f.label :last_name
  = f.text_field :last_name

  %br/

  = f.label :contact_number
  = f.telephone_field :contact_number

  %br/

  = f.label :address
  = f.text_area :address

  %br/
  %br/

  = f.submit

  %br/
  %br/
  
  = link_to "Back to Admins", admins_path