%h1 Stock Trading App

%h2 Portfolios

.container
  %table
    %thead
      %th Acount ID
      %th Actions
    %tbody
      - @portfolios.each do |portfolio|
        %tr
          %td
            = portfolio.account_id
          %td
            = link_to 'Show', portfolio_path(portfolio.id)
            |
            = link_to 'Edit', edit_portfolio_path(portfolio.id)
            |
            = link_to 'Delete', portfolio_path(portfolio.id), method: :delete, data: { confirm: 'Are you sure?' }
.container
  %table
    %thead
      %th Acount ID
      %th Actions
    %tbody
      - @portfolios.each do |portfolio|
        %tr
          %td
            = portfolio.account_id
          %td
            = link_to 'Show', portfolio_path(portfolio.id)
            |
            = link_to 'Edit', edit_portfolio_path(portfolio.id)
            |
            = link_to 'Delete', portfolio_path(portfolio.id), method: :delete, data: { confirm: 'Are you sure?' }
.p.sub-button
  = link_to 'Add Portfolio', new_portfolio_path
