<div class="main-header">
     <span class="nav-bar-link">
      <%= link_to 'Log In', new_user_session_path %>
    </span>
    <span class="nav-bar-button">
      <%= link_to 'Sign Up', new_user_registration_path %>
    </span>
</div>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="form-container">
<div class="form-title">Forgot your password?</div>
  

  <div class="field">
    <%= f.label :email, :class => "form-label"  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-field"   %>
  </div>

  <div class="">
    <%= f.submit "Send me reset password instructions", :class => "actions" %>
  </div>
<% end %>
</div>
<div class="form-errors"><%= render "devise/shared/error_messages", resource: resource%></div>