= form_with model: @wallet do |f|
  = f.label :buyer_id
  = f.number_field :buyer_id
  
  %br/
  = f.label :actual_balance
  = f.number_field :actual_balance

  %br/
  %br/

  = f.submit

  %br/
  %br/
  
  = link_to "Back to Wallets", wallets_path