%h1 Stock Trading App

%h2 Buyer

.container
  %table
    %thead
      %th First Name
      %th Last Name
      %th Contact Number
      %th Address
      %th Verified
      %th Verified at
      %th Created by
      %th Admin ID   
    %tbody
      - @buyers.each do |buyer|
        %tr
          %td{"data-label" => "First Name"}
            = buyer.first_name
          %td{"data-label" => "Last Name"}
            = buyer.last_name
          %td{"data-label" => "Contact Number"}
            = buyer.contact_number
          %td{"data-label" => "Address"}
            = buyer.address
          %td{"data-label" => "Verified"}
            = buyer.verified
          %td{"data-label" => "Verified_at"}
            = buyer.verified_at
          %td{"data-label" => "Created by"}
            = buyer.created_by
          %td{"data-label" => "Admin ID"}
            = buyer.admin_id

          %td{"data-label" => "Actions"}  
            = link_to 'Show', buyer_path(buyer.id)
            = link_to "Edit", edit_buyer_path(buyer.id)
            = link_to "Delete", buyer_path(buyer.id), method: :delete, data: {confirm: "Are you sure?"}
%br/
.p.sub-button=link_to "Add buyer", new_buyer_path