- if user_signed_in?
  .div.main-header
    .div.logo
      =image_tag "logo/logo.png", width: "auto", height: "120px" 
    .span.nav-bar-link
      =link_to 'Home', root_path
    .span.nav-bar-link
      =link_to 'Wallet', wallets_path
    .span.nav-bar-link
      =link_to 'Portfolio', portfolios_path
    .span.nav-bar-link
      =link_to 'Market', markets_path
    .span.nav-bar-link
      =link_to 'Log Out', destroy_user_session_path, method: :delete

  .div.account-welcome-container
    %h1.account-header= "Hello, #{current_user.username}!"
    %p.account-sub STOCK MARKET

.container
  %table
    %thead
      %th Stock Name
      %th Symbol
      %th Volume
      %th Trades
      %th Buying Price
      %th Selling Price
      %th Actions
    %tbody
      - @markets.each do |market|
        %td
          = market.stock_name
        %td
          = market.symbol
        %td
          = market.volume
        %td
          = market.trades
        %td
          = "$#{market.buying_price}"
        %td
          = "$#{market.selling_price}"
        %td
          = link_to 'Show', market_path(market.id)
          |
          = link_to 'Edit', edit_market_path(market.id)
          |
          = link_to 'Delete', market_path(market.id), method: :delete, data: { confirm: 'Are you sure?' }

.p.sub-button
  = link_to 'Add Market', new_market_path
