%h1 Stock Trading App

%h2 Markets

.container
  %table
    %thead
      %th Stock Name
      %th Symbol
      %th Volume
      %th Trades
      %th Buying Price
      %th Selling Price
      %th Actions
    %tbody
      - @markets.each do |market|
        %td
          = market.stock_name
        %td
          = market.symbol
        %td
          = market.volume
        %td
          = market.trades
        %td
          = "$#{market.buying_price}"
        %td
          = "$#{market.selling_price}"
        %td
          = link_to 'Show', market_path(market.id)
          |
          = link_to 'Edit', edit_market_path(market.id)
          |
          = link_to 'Delete', market_path(market.id), method: :delete, data: { confirm: 'Are you sure?' }

.p.sub-button
  = link_to 'Add Market', new_market_path
