.container
  - if user_signed_in?
    .div.main-header
      .div.logo
        =image_tag "logo/logo.png", width: "auto", height: "120px"
      .span.nav-bar-link
        =link_to 'Home', root_path
      .span.nav-bar-link
        =link_to 'Wallet', wallets_path
      .span.nav-bar-link
        =link_to 'Portfolio', portfolios_path
      .span.nav-bar-link
        =link_to 'Market', markets_path
      .span.nav-bar-link
        =link_to 'Log Out', destroy_user_session_path, method: :delete

    .div.market-welcome-container
      %h1.market-header= "Hello, #{current_user.username}!"
      %p.market-sub Here are your logs.
    
    %table.all-markets-container
      %thead.log-table-header
        %th.log-header-6 Date
        %th.log-header-10 Transaction Logs
        %th.log-header-4 Total Amount
      %tbody
        - @logs.each do |log|
          %tr.log-table-column
            %td.log-header-6{"data-label" => "Date"}
              = log.created_at.strftime("%b %d, %Y, %H:%M:%S")
            %td.log-header-10{"data-label" => "Transaction logs"}
              = generate_log_message(log)
            %td.log-header-4{"data-label" => "Total Amount"}
              = compute_total_amount(log)
