<!DOCTYPE html>
<html>
  <head>
    <title>PenguInvest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon/favicon.png') %>
   <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  </style>
  </head>

  <body>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= flash[:error] %>
    <%= yield %>

  </body>
</html>
