.div.form-container
  = form_with model: @account do |f|
    = f.label :first_name, :class => "form-label"
    
    = f.text_field :first_name, :class => "form-field"
    %br
    %br
    = f.label :last_name, :class => "form-label"
    = f.text_field :last_name, :class => "form-field"
    %br
    %br
    = f.label :contact_number, :class => "form-label"
    = f.telephone_field :contact_number, :class => "form-field"
    %br
    %br
    = f.label :address, :class => "form-label"
    = f.text_field :address, :class => "form-field"
    %br
    %br
    = f.label :verified, :class => "form-label"
    %br
    = f.radio_button :verified, "Yes", :value => 'true'
    = f.label "Yes", :class => "form-label"
  
    = f.radio_button :verified, "No", :value => 'false'
    = f.label "No", :class => "form-label"
    %br
    %br
    = f.submit
    
