- if user_signed_in? && current_user.user_type == "Admin"
  .div.main-header 
    .span.nav-bar-link
      =link_to 'Home', root_path
    .span.nav-bar-link
      =link_to 'Log Out', destroy_user_session_path, method: :delete

  .div.account-welcome-container
    %h1.account-header= "Hello, Admin #{current_user.username}!"
    %p.account-sub You can manage all APPNAME accounts here.

  %table.all-accounts-container
    %thead.account-table-header
      %th.account-header-6 User Id
      %th.account-header-18 Email
      %th.account-header-10 First Name
      %th.account-header-10 Last Name
      %th.account-header-10 Contact Number
      %th.account-header-18 Address
      %th.account-header-6 User Type
      %th.account-header-6 Verified
      %th.account-header-6 Verified at
      %th.account-header-10 Actions 
    %tbody
      - @accounts.each do |account|
        %tr.account-table-column
          %td.account-header-6{"data-label" => "User Id"}
            = account.user.id
          %td.account-header-18{"data-label" => "Email"}
            = account.user.email
          %td.account-header-10{"data-label" => "First Name"}
            = account.first_name
          %td.account-header-10{"data-label" => "Last Name"}
            = account.last_name
          %td.account-header-10{"data-label" => "Contact Number"}
            = account.contact_number
          %td.account-header-18{"data-label" => "Address"}
            = account.address
          %td.account-header-6{"data-label" => "User Type"}
            = account.user.user_type
          %td.account-header-6{"data-label" => "Verified"}
            = account.verified
          %td.account-header-6{"data-label" => "Verified_at"}
            = account.verified_at
          %td.account-header-10{"data-label" => "Actions"}  
            = link_to "View", account_path(account.id)
            = link_to "Edit", edit_account_path(account.id)
            = link_to "Delete", account_path(account.id), method: :delete, data: {confirm: "Are you sure?"}
  .div.account-button
    =link_to "Add New User", new_user_path

-else
  .div.main-header 
    .span.nav-bar-link
      = link_to 'Log In', new_user_session_path
    .span.nav-bar-button
      = link_to 'Sign Up', new_user_registration_path

  .div.welcome-text
    %h1.welcome Trade with confidence on the world's leading social trading platform
    %p.welcome-sub Join millions who've already discovered smarter investing in multiple types of assets            
